body {
  background-color: #E2E6E8;
}
.grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
.ui.fluid.large.submit.button{
  background-color: #1B5FAA;
  color: #fff
}
button{
  background-color: #1B5FAA;
  color: #fff;
}
.content{
  color: #1B5FAA;;
}